timezone: America/Denver
image: harbor.nwallace.io/docker-hub/linuxserver/sonarr:4.0.16 # {"$imagepolicy": "home-server:sonarr"}
localUID: "1000"
localGID: "1000"
commonLabels:
  backstage.io/kubernetes-id: sonarr
resources: {}
httpRoute:
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: gateway-external
    namespace: kube-system
  hostnames:
  - sonarr.nwallace.io
pvc:
  size: 2Gi
  storageClassName: longhorn
volumes:
- name: media
  persistentVolumeClaim:
    claimName: media
volumeMounts:
- name: media
  mountPath: /media
imagePullPolicy: IfNotPresent
livenessProbe:
  httpGet:
    path: /
    port: 8989
    scheme: HTTP
  initialDelaySeconds: 10
  timeoutSeconds: 5
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 12
readinessProbe:
  httpGet:
    path: /
    port: 8989
    scheme: HTTP
  initialDelaySeconds: 10
  timeoutSeconds: 5
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 12
