timezone: America/Denver
image: harbor.nwallace.io/docker-hub/linuxserver/bazarr:1.5.5 # {"$imagepolicy": "home-server:bazarr"}
localUID: "1000"
localGID: "1000"
commonLabels:
  backstage.io/kubernetes-id: bazarr
resources:
  limits:
    memory: 2048M
httpRoute:
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: gateway-external
    namespace: kube-system
  hostnames:
  - bazarr.nwallace.io
pvc:
  size: 200Mi
  storageClassName: longhorn
volumes:
- name: media
  persistentVolumeClaim:
    claimName: media
volumeMounts:
- name: media
  mountPath: /media
imagePullPolicy: IfNotPresent
livenessProbe:
  httpGet:
    path: /
    port: 6767
    scheme: HTTP
  initialDelaySeconds: 10
  timeoutSeconds: 5
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 12
readinessProbe:
  httpGet:
    path: /
    port: 6767
    scheme: HTTP
  initialDelaySeconds: 10
  timeoutSeconds: 5
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 12
