apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Release.Name }}-external
spec:
  hostnames:
    {{- toYaml .Values.httpRoute.external.hostnames | nindent 4 }}
  parentRefs:
    {{- toYaml .Values.httpRoute.external.parentRefs | nindent 4 }}
  rules:
    - backendRefs:
        - group: ''	
          kind: Service
          name: {{ .Release.Name }}
          port: 80
          weight: 1
      matches:
        - path:
            type: PathPrefix
            value: /
    - matches:
      - path:
          type: PathPrefix
          value: /admin
      filters:
      - type: RequestRedirect
        requestRedirect:
          path:
            type: ReplacePrefixMatch
            replacePrefixMatch: /
          statusCode: 302