dbImage: ghcr.io/cloudnative-pg/postgresql:16
commonLabels:
  backstage.io/kubernetes-id: harbor
harbor:
  expose:
    type: route
    route:
      parentRefs:
      - group: gateway.networking.k8s.io	
        kind: Gateway
        name: gateway-internal
        namespace: kube-system
      hosts:
      - harbor.nwallace.io
  core:
    nodeSelector:
      kubernetes.io/arch: amd64
    replicas: 1
  registry:
    nodeSelector:
      kubernetes.io/arch: amd64
    replicas: 1
  portal:
    nodeSelector:
      kubernetes.io/arch: amd64
    replicas: 1
  jobservice:
    nodeSelector:
      kubernetes.io/arch: amd64
    replicas: 1
  redis:
    internal:
      nodeSelector:
        beta.kubernetes.io/arch: amd64
  persistence:
    enabled: true
    persistentVolumeClaim:
      database:
        accessMode: ReadWriteOnce
      jobservice:
        jobLog:
          size: 100Mi
          accessMode: ReadWriteMany
          storageClass: longhorn-rwx-retain
      redis:
        size: 100Mi
        storageClass: longhorn
      registry:
        size: 20Gi
        storageClass: longhorn
      trivy:
        size: 9Gi
        storageClass: longhorn
  externalURL: https://harbor.nwallace.io
  existingSecretAdminPassword: harbor-admin
  existingSecretAdminPasswordKey: password
  exporter:
    replicas: 1
  nginx:
    replicas: 0
  database:
    external:
      existingSecret: harbor-postgresql-password
      host: harbor-rw
      username: harbor
    type: external
  trivy:
    gitHubToken: ''
    nodeSelector:
      kubernetes.io/arch: amd64
    resources:
      limits:
        cpu: '1'
        memory: 1Gi
      requests:
        cpu: 50m
        memory: 128Mi
