apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mad-sonarr
  namespace: home-server
spec:
  interval: 10m
  chart:
    spec:
      chart: ./charts/sonarr
      sourceRef:
        kind: GitRepository
        name: home-server
      reconcileStrategy: Revision
  values:
    httpRoute:
      hostnames:
      - mad-sonarr.nwallace.io
    pvc:
      size: 600Mi
    volumes:
      - name: mad-media
        persistentVolumeClaim:
          claimName: mad-media
      - name: shared
        persistentVolumeClaim:
          claimName: shared
    volumeMounts:
      - name: mad-media
        mountPath: /media
      - name: shared
        mountPath: /shared
    commonLabels:
      backstage.io/kubernetes-id: mad-sonarr
  driftDetection:
    mode: enabled
