apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: forbes-bazarr
  namespace: home-server
spec:
  interval: 10m
  chart:
    spec:
      chart: ./charts/bazarr
      sourceRef:
        kind: GitRepository
        name: home-server
      reconcileStrategy: Revision
  values:
    httpRoute:
      hostnames:
      - forbes-bazarr.nwallace.io
    volumes:
      - name: forbes-media
        persistentVolumeClaim:
          claimName: forbes-media
    volumeMounts:
      - name: forbes-media
        mountPath: /media
    commonLabels:
      backstage.io/kubernetes-id: forbes-bazarr
  driftDetection:
    mode: enabled
