apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harbor
  namespace: argo-cd
spec:
  destination:
    namespace: harbor
    server: https://kubernetes.default.svc
  project: home-server
  source:
    path: charts/harbor
    repoURL: https://gitlab.nwallace.io/home-server/home-server-helm.git
    targetRevision: HEAD
  syncPolicy:
    # automated:
    #   prune: true
    #   selfHeal: true
    syncOptions:
      - RespectIgnoreDifferences=true
      - ServerSideApply=true
  ignoreDifferences:
    - group: ''
      kind: Secret
      name: 'harbor-core'
      jsonPointers:
        - /data/CSRF_KEY
        - /data/secret
        - /data/tls.crt
        - /data/tls.key
    - group: ''
      kind: Secret
      name: 'harbor-core-internal-tls'
      jsonPointers:
        - /data/ca.crt
        - /data/tls.crt
        - /data/tls.key
    - group: ''
      kind: Secret
      name: 'harbor-jobservice-internal-tls'
      jsonPointers:
        - /data/ca.crt
        - /data/tls.crt
        - /data/tls.key
    - group: ''
      kind: Secret
      name: 'harbor-portal-internal-tls'
      jsonPointers:
        - /data/ca.crt
        - /data/tls.crt
        - /data/tls.key
    - group: ''
      kind: Secret
      name: 'harbor-registry-internal-tls'
      jsonPointers:
        - /data/ca.crt
        - /data/tls.crt
        - /data/tls.key
    - group: ''
      kind: Secret
      name: 'harbor-trivy-internal-tls'
      jsonPointers:
        - /data/ca.crt
        - /data/tls.crt
        - /data/tls.key
    - group: ''
      kind: Secret
      name: harbor-registry
      jsonPointers:
        - /data/REGISTRY_HTTP_SECRET
    - group: ''
      kind: Secret
      name: harbor-jobservice
      jsonPointers:
        - /data/JOBSERVICE_SECRET
    - group: ''
      kind: Secret
      name: harbor-registry-htpasswd
      jsonPointers:
        - /data/REGISTRY_HTPASSWD
    - group: apps
      kind: Deployment
      name: harbor-core
      jsonPointers:
        - /spec/template/metadata/annotations/checksum~1secret
        - /spec/template/metadata/annotations/checksum~1secret-jobservice
        - /spec/template/metadata/annotations/checksum~1tls
    - group: apps
      kind: Deployment
      name: harbor-jobservice
      jsonPointers:
        - /spec/template/metadata/annotations/checksum~1secret
        - /spec/template/metadata/annotations/checksum~1secret-core
        - /spec/template/metadata/annotations/checksum~1tls
    - group: apps
      kind: Deployment
      name: harbor-registry
      jsonPointers:
        - /spec/template/metadata/annotations/checksum~1secret
        - /spec/template/metadata/annotations/checksum~1secret-jobservice
        - /spec/template/metadata/annotations/checksum~1secret-core
        - /spec/template/metadata/annotations/checksum~1tls
    - group: apps
      kind: Deployment
      name: harbor-portal
      jsonPointers:
        - /spec/template/metadata/annotations/checksum~1tls
    - group: apps
      kind: StatefulSet
      name: harbor-redis
      jsonPointers:
        - /spec/volumeClaimTemplates/0/apiVersion
        - /spec/volumeClaimTemplates/0/kind
    - group: apps
      kind: StatefulSet
      name: harbor-trivy
      jsonPointers:
        - /spec/volumeClaimTemplates/0/apiVersion
        - /spec/volumeClaimTemplates/0/kind
        - /spec/template/metadata/annotations/checksum~1tls
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: harbor-route
      jsonPointers:
        - /spec/rules/0/backendRefs/0/group
        - /spec/rules/0/backendRefs/0/kind
        - /spec/rules/0/backendRefs/0/weight
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: harbor-route
      jsonPointers:
        - /spec/rules/1/backendRefs/0/group
        - /spec/rules/1/backendRefs/0/kind
        - /spec/rules/1/backendRefs/0/weight