timezone: America/Denver
image: harbor.nwallace.io/docker-hub/binhex/arch-delugevpn:2.2.0-1-04 # {"$imagepolicy": "home-server:delugevpn"}
localUID: "1000"
localGID: "1000"
commonLabels:
  backstage.io/kubernetes-id: delugevpn
resources:
  limits:
    memory: 4096Mi
vaultSecretPath: delugevpn
httpRoute:
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: gateway-external
    namespace: kube-system
  hostnames:
  - delugevpn.nwallace.io
pvc:
  size: 100Mi
  storageClassName: longhorn
volumes:
- name: media
  persistentVolumeClaim:
    claimName: media
- name: shared
  persistentVolumeClaim:
    claimName: shared
volumeMounts:
- name: media
  mountPath: /media
- name: shared
  mountPath: /shared
imagePullPolicy: IfNotPresent
livenessProbe:
  httpGet:
    path: /
    port: 8112
    scheme: HTTP
  initialDelaySeconds: 10
  timeoutSeconds: 5
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 30
readinessProbe:
  httpGet:
    path: /
    port: 8112
    scheme: HTTP
  initialDelaySeconds: 10
  timeoutSeconds: 5
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 12
