apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argo-cd
spec:
  destination:
    namespace: longhorn-system
    server: https://kubernetes.default.svc
  project: home-server
  source:
    path: charts/longhorn
    repoURL: https://gitlab.nwallace.io/home-server/home-server-helm.git
    targetRevision: HEAD
  syncPolicy:
    syncOptions:
      - RespectIgnoreDifferences=true
      - ServerSideApply=true
  ignoreDifferences:
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      jsonPointers:
        - /spec/preserveUnknownFields
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: longhorn-httproute
      jsonPointers:
        - /spec/rules/0/backendRefs/0/group
        - /spec/rules/0/backendRefs/0/kind
        - /spec/rules/0/backendRefs/0/weight