apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mad-bazarr
  namespace: argo-cd
spec:
  destination:
    namespace: home-server
    server: https://kubernetes.default.svc
  project: home-server
  source:
    path: charts/bazarr
    repoURL: https://gitlab.nwallace.io/home-server/home-server-helm.git
    targetRevision: HEAD
    helm:
      values: |
        httpRoute:
          hostnames:
          - mad-bazarr.nwallace.io
        volumes:
          - name: mad-media
            persistentVolumeClaim:
              claimName: mad-media
        volumeMounts:
          - name: mad-media
            mountPath: /media
        commonLabels:
          backstage.io/kubernetes-id: mad-bazarr
  syncPolicy:
    syncOptions:
      - RespectIgnoreDifferences=true
      - ServerSideApply=true