image: docker.io/pihole/pihole:2025.11.1 # {"$imagepolicy": "home-server:pihole"}
loadBalancerIP: 192.168.2.12
replicas: 3
timezone: America/Denver
localUID: "1000"
localGID: "1000"
resources:
  requests:
    cpu: 100m
commonLabels:
  backstage.io/kubernetes-id: pihole
httpRoute:
  parentRefs:
  - group: gateway.networking.k8s.io	
    kind: Gateway
    name: gateway-internal
    namespace: kube-system
  hostnames:
  - pihole.nwallace.io
livenessProbe:
  httpGet:
    path: /admin
    port: 80
    scheme: HTTP
  initialDelaySeconds: 10
  timeoutSeconds: 1
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 12
readinessProbe:
  httpGet:
    path: /admin
    port: 80
    scheme: HTTP
  initialDelaySeconds: 10
  timeoutSeconds: 1
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 12
dnsHosts: "192.168.0.5 server;192.168.0.6 node1;192.168.0.7 node2;192.168.0.8 node3;192.168.2.10 vaultwarden.nwallace.io;192.168.2.13 samba;192.168.0.1 k8s.nwallace.io;192.168.2.11 plex.nwallace.io;192.168.2.11 gitlab.nwallace.io"
