global:
  imageRegistry: harbor.nwallace.io/docker-hub
  security:
    allowInsecureImages: true

external-dns:
  image:
    repository: harbor.nwallace.io/k8s/external-dns/external-dns
  fullnameOverride: external-dns
  txtPrefix: txt-
  policy: sync
  commonLabels:
    backstage.io/kubernetes-id: external-dns
  txtOwnerId: Z06135012KVE9P1H4UWDK
  domainFilters:
  - nwallace.io
  provider: aws
  env:
    - name: AWS_DEFAULT_REGION
      value: us-east-1
    - name: AWS_SHARED_CREDENTIALS_FILE
      value: /etc/aws/credentials/aws_credentials
  extraVolumes:
    - name: aws-credentials
      secret:
        secretName: external-dns-route53
  extraVolumeMounts:
    - name: aws-credentials
      mountPath: /etc/aws/credentials
      readOnly: true
  gatewayNamespace: kube-system