apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: http-redirect
spec:
  parentRefs:
    - group: gateway.networking.k8s.io	
      kind: Gateway
      name: gateway-internal
      namespace: kube-system
    - group: gateway.networking.k8s.io	
      kind: Gateway
      name: gateway-external
      namespace: kube-system
  rules:
    - filters:
      - type: RequestRedirect
        requestRedirect:
          scheme: https
          statusCode: 301
      matches:	
        - path:	
            type: PathPrefix	
            value: /