fullnameOverride: minio

commonLabels:
  backstage.io/kubernetes-id: minio

global:
  security:
    allowInsecureImages: true


httpRoute:
  parentRefs:
  - group: gateway.networking.k8s.io	
    kind: Gateway
    name: gateway-external
    namespace: kube-system
  web:
    hostnames:
    - minio-web.nwallace.io
  api:
    hostnames:
    - minio.nwallace.io

minio:
  fullnameOverride: minio
  nodeSelector:
    kubernetes.io/hostname: server
  ingress:
    enabled: false
  apiIngress:
    enabled: false
  containerSecurityContext:
    runAsGroup: 1000
    runAsUser: 1000
  podSecurityContext:
    fsGroup: 1000
  persistence:
    storageClass: minio
    existingClaim: minio
  auth:
    existingSecret: minio-root-credentials
    rootPasswordSecretKey: password
    rootUserSecretKey: username
    usePasswordFiles: false
  metrics:
    serviceMonitor:
      enabled: true
      apiVersion: monitoring.coreos.com/v1
      namespace: minio
  clientImage:
    registry: harbor.nwallace.io/docker-hub
  image:
    registry: harbor.nwallace.io/docker-hub
  commonLabels:
    backstage.io/kubernetes-id: minio
  resources:
    limits:
      ephemeral-storage: 2Gi
      memory: 2Gi
    requests:
      cpu: 50m