commonLabels:
  backstage.io/kubernetes-id: kube-prometheus-stack

kube-prometheus-stack:
  prometheus:
    route:
      main:
        enabled: true
        parentRefs:
        - group: gateway.networking.k8s.io	
          kind: Gateway
          name: gateway-internal
          namespace: kube-system
        hostnames:
          - prometheus.nwallace.io
    prometheusSpec:
      image:
        regitry: harbor.nwallace.io/quay
      nodeSelector:
        kubernetes.io/arch: amd64  
      resources:
        requests:
          memory: 512Mi
        limits:
          memory: 2048Mi
      storageSpec: 
        volumeClaimTemplate:
          spec:
            storageClassName: 'longhorn'
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 25Gi
      serviceMonitorSelector:
        matchLabels: null
      podMonitorSelector:
        matchLabels: null
      retention: 7d
  prometheusOperator:
    image:
      registry: harbor.nwallace.io/quay
    admissionWebhooks:
      deployment:
        image:
          registry: harbor.nwallace.io/quay
      patch:
        image:
          registry: harbor.nwallace.io/github
    prometheusConfigReloader:
      image:
        registry: harbor.nwallace.io/quay
    thanosImage:
      registry: harbor.nwallace.io/quay
  thanosRuler:
    thanosRulerSpec:
      image:
        registry: harbor.nwallace.io/quay
  alertmanager:
    alertmanagerSpec:
      image:
        registry: harbor.nwallace.io/quay
      storage:
        volumeClaimTemplate:
          metadata:
            name: prometheus-kube-alert-manager
          spec:
            storageClassName: 'longhorn'
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 100Mi
  grafana:
    admin:
      existingSecret: grafana-credentials
    persistence:
      enabled: true
      storageClassName: longhorn-rwx
      size: 1Gi
      accessModes:
        - ReadWriteMany
    route:
      main:
        enabled: true
        parentRefs:
        - group: gateway.networking.k8s.io	
          kind: Gateway
          name: gateway-internal
          namespace: kube-system
        hostnames:
          - grafana.nwallace.io
  commonLabels:
    backstage.io/kubernetes-id: kube-prometheus-stack