apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    {{- include "commonLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        {{- include "commonLabels" . | nindent 8 }}
        app: {{ .Release.Name }}
      annotations:
        checksum/postStart: {{ include (print $.Template.BasePath "/config-map-poststart-script.yaml") . | sha256sum }}
        checksum/env: {{ include (print $.Template.BasePath "/config-map-env.yaml") . | sha256sum }}
    spec:
      containers:
        - name: {{ .Release.Name }}
          image: {{ .Values.image }}
  revisionHistoryLimit: 0