commonLabels:
  backstage.io/kubernetes-id: html-external

httpRoute:
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: gateway-external
    namespace: kube-system
  hostnames:
  - nwallace.io
  - www.nwallace.io
