global:
  domain: argocd.nwallace.io
  image:
    repository: harbor.nwallace.io/quay/argoproj/argocd
  additionalLabels:
    backstage.io/kubernetes-id: argo-cd

vaultSecretPath: argocd/admin

argo-cd:
  configs:
    params:
      "server.insecure": true
  server:
    extraArgs:
    - '--disable-auth'
    metrics:
      enabled: true
      serviceMonitor:
        additionalLabels:
          release: kube-prometheus-stack
        enabled: true
    replicas: 1
    httproute:
      enabled: true
      hostnames:
        - argocd.nwallace.io
      parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: gateway-internal
        namespace: kube-system
    extensions:
      image:
        repository: harbor.nwallace.io/quay/argoprojlabs/argocd-extension-installer
  controller:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        additionalLabels:
          release: kube-prometheus-stack
  applicationSet:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        additionalLabels:
          release: kube-prometheus-stack
  repoServer:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        additionalLabels:
          release: kube-prometheus-stack
    replicas: 1
    autoscaling:
      maxReplicas: 1
  redis:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        additionalLabels:
          release: kube-prometheus-stack
  notifications:
    enabled: false
  dex:
    enabled: false
