commonLabels:
  backstage.io/kubernetes-id: longhorn

longhorn:
  httproute:
    enabled: true
    hostnames:
    - longhorn.nwallace.io
    parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: gateway-internal
      namespace: kube-system
  persistence:
    recurringJobSelector:
      jobList: '[{"name":"backup", "isGroup":true},{"name":"default", "isGroup":true}]'
      enable: true
    defaultClassReplicaCount: 2
    reclaimPolicy: Retain
    defaultDataLocality: best-effort
    dataEngine: v1
  defaultSettings:
    defaultReplicaCount: 2
    storageReservedPercentageForDefaultDisk: 10
    defaultDataLocality: best-effort
    createDefaultDiskLabeledNodes: true
    nodeDrainPolicy: allow-if-replica-is-stopped
    orphanAutoDeletion: true
    v1DataEngine: true
    v2DataEngine: false
  csi:
    attacherReplicaCount: 2
    provisionerReplicaCount: 2
    resizerReplicaCount: 1
    snapshotterReplicaCount: 1
  metrics:
    serviceMonitor:
      enabled: true
