email: nathan.wallace114@gmail.com

commonLabels:
  backstage.io/kubernetes-id: cert-manager

global:
  commonLabels:
    backstage.io/kubernetes-id: cert-manager

cert-manager:
  acmesolver:
    image:
      repository: harbor.nwallace.io/quay/jetstack/cert-manager-acmesolver
  cainjector:
    image:
      repository: harbor.nwallace.io/quay/jetstack/cert-manager-cainjector
  image:
    repository: harbor.nwallace.io/quay/jetstack/cert-manager-controller
  startupapicheck:
    image:
      repository: harbor.nwallace.io/quay/jetstack/cert-manager-startupapicheck
  webhook:
    image:
      repository: harbor.nwallace.io/quay/jetstack/cert-manager-webhook
  prometheus:
    servicemonitor:
      enabled: true
  config:
    apiVersion: controller.config.cert-manager.io/v1alpha1
    kind: ControllerConfiguration
    enableGatewayAPI: true