apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mad-radarr
  namespace: argo-cd
spec:
  destination:
    namespace: home-server
    server: https://kubernetes.default.svc
  project: home-server
  source:
    path: charts/radarr
    repoURL: https://gitlab.nwallace.io/home-server/home-server-helm.git
    targetRevision: HEAD
    helm:
      values: |
        httpRoute:
          hostnames:
          - mad-radarr.nwallace.io
        pvc:
          size: 1Gi
        volumes:
          - name: mad-media
            persistentVolumeClaim:
              claimName: mad-media
          - name: shared
            persistentVolumeClaim:
              claimName: shared
        volumeMounts:
          - name: mad-media
            mountPath: /media
          - name: shared
            mountPath: /shared
        commonLabels:
          backstage.io/kubernetes-id: mad-radarr   
  syncPolicy:
    syncOptions:
      - RespectIgnoreDifferences=true
      - ServerSideApply=true