timezone: America/Denver
image: harbor.nwallace.io/docker-hub/vaultwarden/server:1.35.2 # {"$imagepolicy": "home-server:vaultwarden"}
dbImage: harbor.nwallace.io/github/cloudnative-pg/postgresql:16
localUID: "1000"
localGID: "1000"
commonLabels:
  backstage.io/kubernetes-id: vaultwarden
imagePullPolicy: IfNotPresent
resources: {}
pvc:
  size: 100Mi
  storageClassName: longhorn
httpRoute:
  internal:
    parentRefs:
    - group: gateway.networking.k8s.io	
      kind: Gateway
      name: gateway-internal
      namespace: kube-system
    hostnames:
    - vaultwarden.nwallace.io
  external:
    parentRefs:
    - group: gateway.networking.k8s.io	
      kind: Gateway
      name: gateway-external
      namespace: kube-system
    hostnames:
    - vaultwarden.nwallace.io
livenessProbe:
  httpGet:
    path: /
    port: 80
    scheme: HTTP
  initialDelaySeconds: 10
  timeoutSeconds: 1
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 12
readinessProbe:
  httpGet:
    path: /
    port: 80
    scheme: HTTP
  initialDelaySeconds: 10
  timeoutSeconds: 1
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 12
