commonLabels:
  backstage.io/kubernetes-id: cilium

vaultSecretPath: cilium

cilium:
  autoDirectNodeRoutes: true
  routingMode: native
  ipv4NativeRoutingCIDR: 10.244.0.0/16
  ipam:
    operator:
      clusterPoolIPv4PodCIDRList:
        - 10.244.0.0/16
  kubeProxyReplacement: true
  k8sServiceHost: k8s.nwallace.io
  k8sServicePort: 6443
  gatewayAPI:
    enabled: true
  tls:
    secretsNamespace:
      name: kube-system
  bgpControlPlane:
    enabled: true
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
      trustCRDsExist: true
  dashboards:
    enabled: true
    namespace: monitoring
    annotations:
      grafana_folder: "Hubble"
  envoy:
    enabled: true
    securityContext:
      capabilities:
        keepCapNetBindService: true
        envoy:
        - NET_BIND_SERVICE
        - NET_ADMIN
        - SYS_ADMIN
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
  operator:
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
      dashboards:
        enabled: true
        namespace: monitoring
        annotations:
          grafana_folder: "Hubble"
  hubble:
    enabled: true
    tls:
      enabled: false
    ui:
      enabled: true
    relay:
      enabled: true
    metrics:
      enableOpenMetrics: true
      serviceMonitor:
        enabled: true
      dashboards:
        enabled: true
        namespace: monitoring
        annotations:
          grafana_folder: "Hubble"
      enabled:
        - dns
        - drop
        - tcp
        - flow
        - port-distribution
        - icmp
        - httpV2:exemplars=true;labelsContext=source_ip,source_namespace,source_workload,destination_ip,destination_namespace,destination_workload,traffic_direction