timezone: America/Denver
image: harbor.nwallace.io/docker-hub/linuxserver/prowlarr:2.3.0 # {"$imagepolicy": "home-server:prowlarr"}
localUID: "1000"
localGID: "1000"
commonLabels:
  backstage.io/kubernetes-id: prowlarr
resources: {}
httpRoute:
  parentRefs:
  - group: gateway.networking.k8s.io	
    kind: Gateway
    name: gateway-internal
    namespace: kube-system
  hostnames:
  - prowlarr.nwallace.io
pvc:
  size: 500Mi
  storageClassName: longhorn
volumes: {}
volumeMounts: {}
imagePullPolicy: IfNotPresent
livenessProbe:
  httpGet:
    path: /
    port: 9696
    scheme: HTTP
  initialDelaySeconds: 10
  timeoutSeconds: 5
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 12
readinessProbe:
  httpGet:
    path: /
    port: 9696
    scheme: HTTP
  initialDelaySeconds: 10
  timeoutSeconds: 5
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 12
